html {
  scroll-behavior: smooth;
}

.App {
  font-family: "Kumbh Sans", sans-serif;
}

/* Header Container */

.header-container {
  background-image: url("./assets/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
  width: 100vw;
}

.header-overlay {
  background-color: rgba(0,0,255, 0.65);
  /* opacity: 0.65; */
  height: 100%;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  padding: 20px 50px;
  color: white;
}

a {
  margin: 20px;
  text-decoration: none;
  color: white;
  opacity: 1;
}

a:hover {
  color: #b2b2b2;
  transition: 0.4s;
}

.call_to_action {
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0 6rem;
  color: white;
}

button {
  padding: 1rem 2rem;
  font-weight: 700;
  font-size: 1rem;
  color: white;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 0.25rem;
  text-decoration: none;
  text-align: center;
  transition: all 0.6s;
  cursor: pointer;
}

button:hover, button:focus {
  color: rgba(0,0,255, 0.65);
  background-color: white;
  border: 1px solid rgba(0,0,255, 0.65);
}

 /* Middle Container */

 .middle_container {
   padding: 80px 0;
   display: flex;
   justify-content: space-evenly;
 }

 .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: blue;
  line-height: 1.5rem;
 }

 /* Lower Container */

.main-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 40px 80px;
  background: blue;
  color: white;
  line-height: 1.5rem;
}

.top-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40vh;
}

.bottom-wrapper {
  height: 40vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40vh;
}

.first-section {
  width: 35vw;
}

.second-section {
  width: 35vw;
}

.images {
  max-width: 600px;
  max-height: 500px;
  width: auto;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.footer-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 15vh;
  background: #00003b;
  color: white;
  font-size: 0.8em;
  border-top: 1px solid #a4a4a4;
}